body{
    margin: 0;
    height: 100vh;
}
.head{
    position: sticky;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 40px;
    left: 0;
    top: 0;
    background-color: blue;
    margin-bottom: 15px;
}
.todolist{
    margin: 0px auto;
    width: 500px;
    border: 1px solid black;
}
.todoitem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.todoitem > input{
    margin-right: 12px;
}